*{
    background-color: blueviolet;
}

.header {
    text-align: center;
    font-size: 8rem;
    color: black;
}

.subhead {
    text-align: center;
    font-size: 7rem;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}